.devise-container {
  margin: 0 auto 0 auto;
  padding: 0 30px 0 30px;
  display: flex;
  position: relative;
  background: linear-gradient(180deg, #29234c 0%, #0f0d23 100%);
}

.devise-form-container {
  max-width: 560px;
  margin: auto;
  height: 100vh;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 30px;
}

.display-flex-login-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.devise-card {
  background-color: #f4ffe5;
  padding: 50px;
  border-radius: 60px;
  box-shadow: 0 5px 25px #160f36;
}

.devise-card h2 {
  color: #1d1939;
  font-weight: 900;
  text-align: center;
}

.devise-card .form-label {
  color: #201c3e;
  font-weight: 300;
  text-align: center;
}

.devise-card .form-control{
  color: #7f3dfa;
  font-weight: 300;
  text-align: center;
}

.form-control {
  background-color: #f4ffe5;
  border-color: #1d1939;
}

label {
  padding-left: 0
}

.form-check-label {
  padding-left: 20px;
  color: #282249;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
  position: relative;
  display: block;
  padding-left: 14px;
}

.alert {
  position: fixed;
  bottom: 16px;
  right: -19px;
  z-index: 1000;
  transform: scale(0.8);
  border-radius: 20px;
  background-color: #f4ffe5;
  color: #7322b2;
  border-color: #7322b2;
}

.no-access-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 100px;
  color: #f4ffe5;
}

.no-access-message-container a {
  color: #f4ffe5 !important;
}

@media (max-width: 500px) {
  .animate-character {
    display: inline-block;
    position: absolute;
    top: -109px;
    font-size: 100px;
  }
}

@media (max-width: 500px) {
  .devise-form-container {
    bottom: 0;
    justify-content: end;
    position: relative;
    padding: 0;
    flex-direction: initial !important;
    margin-top: 70px;
  }

  .budget-form-container {
    bottom: 0;
    padding: 0;
    justify-content: end;
    position: relative;
    flex-direction: initial !important;
    margin-top: 70px;
  }

  .retour {
    position: relative;
    top: 0px;
    font-weight: 100;
    color: #5bffa5;
  }

  .devise-card {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }

  .btn-primary {
    margin: 10px 10px !important;
    font-size: 13px !important;
    min-width: 190px !important;
    padding: 15px;
  }

  .forgot {
    padding: 15px 0px !important;
  }

  .higher {
    height: 80vh;
  }



  .display-flex-login-buttons {
    margin-top: 30px;
  }

}

@media (max-width: 400px) {
  .devise-card {
    padding: 50px 25px;
    transform: scale(0.8);
    position: relative;
    bottom: 30px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .devise-container {
    padding: 0;
  }
}
