// Specific CSS for your home-page
.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-child {

  width: 380px;
  margin: 5px;
  height: 270px;
  overflow:hidden;
}

.flex-box-between {
  display: flex;
  justify-content: space-between;
}

#button-home {
  position: relative;
  right: 860px;
  bottom: 3px;
}

.centre {
  position: relative;
  color: rgb(44, 44, 75);
}

#diff-budgets {
  color:rgb(44, 44, 75)
}

.trash {
  position: relative;
  right: 53px;
  top: 35px;
  height: 40px;
  width: 40px;
}

.trash:hover {
  color: rgb(44, 44, 75)
  }

.modif {
  position: relative;
  left: 310px;
  font-size: 0px;

}

.modif:hover {
  color: white;
  text-decoration: none;
}
// *Shrinking for mobile*/

@media (max-width: 1400px) {
  #button-home {
    position: relative;
    right: 684px;
  }
}

@media (max-width: 1200px) {
  #button-home {
    position: relative;
    right: 504px;
    bottom: 3px;
  }
}

 @media (max-width: 991px) {
  #button-home {
    position: relative;
    right: -178px;
    top: -30px;
  }
  .flex-child {
    margin-top: 10px;
  }

  #diff-budgets {
    display: none
  }

  .centre {
    top: -30px;
  }
  .modif {
    position: relative;
    left: 270px;
    font-size: 14px;
    bottom: 4px;
  }
}

@media (max-width: 768px) {
  #button-home {
    position: relative;
    right: -185px;
    top: -30px;
  }

  #diff-budgets {
    display: none
  }
  .centre {
    top: -30px;
  }

  .modif {
    position: relative;
    left: 270px;
    font-size: 14px;
    bottom: 4px;
  }
  .trash {
  position: relative;
  right: 50px;
  top: 35px;
  }
}

@media (max-width: 477px) {
  .modif {
    position: relative;
    left: 220px;
    font-size: 14px;
    bottom: 4px;
  }
  .trash {
  position: relative;
  right: -326px;
  top: -248px;
  }
}

@media (max-width: 428px) {

  .trash {
  position: relative;
  right: -286px;
  top: -248px;
  }
}

@media (max-width: 378px) {
  #button-home {
    position: relative;
    right: -130px;
    top: -30px;
  }

  .flex-child {

    width: 290px;
    margin: 5px;
    height: 250px;
    overflow: hidden;
  }

  #diff-budgets {
    display: none
  }

  .centre {
    text-align: center;
  }

  .trash {
  position: relative;
  right: -257px;
  top: -230px;
  }

  .modif {
    position: relative;
    left: 190px;
    font-size: 14px;
    bottom: -10px;
  }

  .container {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
   .trash {
  position: relative;
  right: -257px;
  top: -230px;
  }

  .modif {
    position: relative;
    left: 140px;
    font-size: 14px;
    bottom: 10px;
  }

  .container {
    font-size: 14px;
  }
}
