// Import page-specific CSS files here.
@import "home";
@import "form";
@import "show";
@import "devise";
@import "v2_home";


.main-background {
  background: #131029;
}

.white-rectangle {
  display: none;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;

}

ul {
  padding-left: 0;
}

.container {

}

body {
  color: #f4ffe5;
}

input[type="checkbox"] {
  filter: invert(70%) hue-rotate(214deg) brightness(1.5);
}
