// Import page-specific CSS files here.
@import "home";
@import "form";
@import "show";
@import "devise";
@import "v2_home";


.main-background {
  background: #131029;
}

.white-rectangle {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

a:hover {
  text-decoration: none;
  color: rgb(77, 79, 87)
}

ul {
  padding-left: 0;
}

.container {
  background-color: blanchedalmond;
  min-height: 800px;
}

body {
  color: rgb(75, 62, 44);
}

input[type="checkbox"] {
  filter: invert(70%) hue-rotate(214deg) brightness(1.5);
}
