// Import page-specific CSS files here.
@import "home";
@import "form";
@import "show";
@import "devise_new";

.main-background {
  background: linear-gradient(180deg, rgba(165, 47, 255, 1) 0%, rgba(93, 75, 242, 1) 100%);
}

.white-rectangle {
  opacity: 6%;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

a:hover {
  text-decoration: none;
  color: rgb(77, 79, 87)
}

ul {
  padding-left: 0;
}

.container {
  background-color: blanchedalmond;
  min-height: 800px;
}

body {
  color: rgb(75, 62, 44);
}

label {
  padding-left: 0
}

.form-check-label {
  padding-left: 20px;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
  position: relative;
  display: block;
  padding-left: 14px;
}
