.home-container {
  margin: 0 auto 0 auto;
  padding: 0 30px 0 30px;
  display: flex;
  position: relative;
  // background: linear-gradient(180deg, #29234c 0%, #0f0d23 100%);

}

.mobile-create-budget-button {
  display: none
}

.no-current-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

.torn-home-title {
  display: block !important;
  font-size: 10vw;
  position: relative;
  bottom: 80px;
}

.home-slogan {
  position: relative;
  bottom: 80px;
  font-size: 3vw;
  color: #f4ffe5;
  text-align: center;
  line-height: 4vw;
}

.home-signup-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#login-button {
  color: #f8fff1;
  padding: 8px 20px;
  border: 1px solid #f4ffe5;
  border-radius: 5px;
  font-size: 1.5vw;
  text-align: center;
  &:hover {
    color: #28224b;
    background-color: #f4ffe5;
  }
}

#create-button {
  color: #f4ffe5;
  padding: 8px 20px;
  border: 1px solid #f4ffe5;
  border-radius: 5px;
  font-size: 1.5vw;
  text-align: center;
  &:hover {
    color: #28224b;
    background-color: #f4ffe5;
  }
}

.home-left-right-container {
  display: flex;
  gap: 0px;
  flex: 1;
  padding-top: 30px;

}

.home-left-container {
  flex: 1;
  background-color: #2b285d;
  padding: 20px 5px 20px 5px;
  border-radius: 15px;
  max-width: 400px;
  // height: 100vh;
  margin-bottom: 30px;
}

.home-left-card-title {
  position: relative;
  color: #f4ffe5;
  text-align: center;
  font-weight: 700;
  font-size: 1.4vw;
  padding: 5px 10px;
}

.home-right-container {
  flex: 2;
  background-color: transparent;
  padding: 20px 20px;
  border-radius: 15px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.home-card-title {
  position: relative;
  color: #4c239a;
  text-align: center;
  font-weight: 700;
  font-size: 4vw;
}

.right-section-titles {
  display: flex;
  justify-content: start;
  padding: 0 0 0 10px;
  gap: 30px;
}

#diff-budgets {
  color: #f4ffe5
}

.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 75vh;
}

.home-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4ffe5;
  background-clip: border-box;
  border-radius: 10px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  overflow: hidden;
  box-shadow: 0 5px 25px #0e0c1636;
  max-height: 400px;
  margin: 10px;
  width: 48%;
  overflow: hidden;
  z-index: 5;

  &:hover {
    text-decoration: none;
  }
}

.create-budget-button {
  background-color: #f4ffe5;
  padding: 8px 18px;
  align-items: center;
  border-radius: 9px;
  color: #27224a;
  margin-right: 16px;
  transition: 0.5s;
  position: relative;
  bottom: 3px;
  &:hover {
    background-color: #39396f;
    color: #f4ffe5 !important;
  }
}

.create-budget-button-disable {
  background-color: #f4ffe5;
  padding: 8px 18px;
  align-items: center;
  border-radius: 9px;
  color: #27224a;
  margin-right: 16px;
  opacity: 0.5;
  position: relative;
  bottom: 3px;
}

.mobile-create-budget-button {
  background-color: #f4ffe5;
  padding: 8px 18px;
  align-items: center;
  border-radius: 9px;
  color: #27224a;
  margin-right: 23px;
  display: none;
  transition: 0.5s;

  &:hover {
    background-color: #27224a;
    color: #f4ffe5 !important;
  }
}

.mobile-create-budget-button-disable{
  background-color: #f4ffe5;
  padding: 8px 18px;
  align-items: center;
  border-radius: 9px;
  color: #27224a;
  margin-right: 23px;
  opacity: 0.4;
  display: none;
}

.contentBx {
  text-align: center
}

.contentBx h5 {
  color: #4d239a9b;
}

.mobile-budgets-title {
  display: none;
}

//  ------------------ HOVER ANIMATION ON CARDS -------------------------

.home-card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.6s;
  z-index: 10;
}

.home-card:hover .content {
  transform: translateY(-40vh);
  color: #f4ffe5;
  opacity: 0.7;
}

.home-card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.home-card .content .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.home-card .sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  transform: scale(0.75);
}

.home-card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(410px);
  transition: 0.4s;
  opacity: 0.5;
}

.home-card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.home-card .sci li p {
  color: #f4ffe5;
  margin: auto;
}

.home-card .sci li > * {
  color: #f4ffe5;
}

.home-card:hover {
  transition: 1s;
  background: none;
}

.anim-background {
  background-color: #2b285d;
  width: 120%;
  height: 500px;
  position: absolute;
  transform: translateY(500px);
  opacity: 1;
  transition: 0.6s;
  left: -10px;
  z-index: 8
}

.home-card:hover .anim-background {
  transform: translateY(0px);
  opacity: 1;
}



.hidden-card-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden-card-title {
  margin: auto;
  position: relative;
  bottom: 25px;
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 20px;
}

.with-x {
  font-size: 1.8vw !important;
  opacity: 0.5;
}

.home-card-link {
  transition: 0.5s;
}

.home-card-link:hover {
  color: #eecbff !important;
  transition: 0.5s;
  transform: scale(1.2);
}

.hidden-display-flex {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.hidden-flex-item {
  background: #60649a;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  min-width: 176px;
}

.hidden-flex-item-2 {
  background: #60649a;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.hidden-card-buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hidden-card-title-container > a {
  text-align: center;
}

.hidden-card-title-container:hover p {
  color: #f4ffe5 !important;
}

.hidden-card-button {
  padding: 10px 20px;
  width: 33% !important;
  fill: #f4ffe5;
  padding: 0 !important;

}

.hidden-card-button-2 {
  transform: scale(0.3);
  fill: #f4ffe5;
  padding: 0 !important;
}

.hidden-card-buttons-container > a {
  width: 80px;
  display: block;
  max-width: 130px;
}


//  ------------------------ LIST OF PAYMENTS ---------------------------

.no-mobile-payments-container {
  display: block;
  color: #f4ffe5;
  width: 100%;
  position: relative;
  background-color: #2b285d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transform: scale(0.9);
  margin: -60px 0;
}

.make-link-fonts-white {
  color: #f4ffe5;
  transition: 0.5s;
  &:hover {
    background-color: #f4ffe526 !important;
  }
}

.last-payments-container {
  display: none;
  color: #f4ffe5;
  width: 100%;
  padding: 0 20px 30px;
  position: relative;
  background-color: #2b285d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: 80vh;
}

.home-list-payment {
  display: flex;
  justify-content: space-between;
  background: #60649a47;
  border-radius: 14px;
  padding: 5px 20px;
  margin: 20px auto;
  max-width: 600px;
}

.list-left-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.list-right-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.list-picture {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  background-color: grey;
  border-radius: 25%;
}

.payer-receiver {
  display: flex;
  flex-direction: column;
}

.list-title {
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 20px;
  letter-spacing: -1px;
  color: #f4ffe5;
}

#list-sender {
  position: relative;
  top: 15px;
  font-weight: 500 !important;
  font-size: 17px;
}

#list-receiver {
  font-size: 12px;
  opacity: 0.5;
  position: relative;
  bottom: 3px;
}

#list-amount {
  position: relative;
  top: 15px;
  font-weight: 500 !important;
  font-size: 17px;
}

#list-comment {
  font-size: 12px;
  opacity: 0.5;
  position: relative;
  bottom: 3px;

  text-align: end;
  padding-left: 30px;
}



// ----------------------------SCREEN SIZES------------------------------

@media (max-width: 2000px) {
  .home-card {
    width: 47.5%;
    height: 50%;
  }

  .home-card .sci {
    width: 100%;
  }

  .hidden-card-button,
  .hidden-card-button-2 {
    padding: 10px 20px;
    width: 10vw;
  }
}

@media (max-width: 1340px) {

  .home-card {
    width: 48%;
    height: 50%;
    margin: 0;
  }

  .home-cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
  }

  .home-card .sci {
    transform: scale(0.6);
  }

  .home-left-container {
    flex: initial;
  }

  .hidden-flex-item {
    display: none;
  }

  .hidden-flex-item-2 {
    height: 85px;
  }

  .hidden-card-buttons-container {
    margin-top: 30px;
  }

  #balance {
    display: none;
  }
}




@media (max-width: 1000px) {

  .right-section-titles {
    justify-content: center !important;
  }

  .home-card {
    width: 45%;
    padding-top: 10px;
  }

  .home-cards-container {
    gap: 22px;
    padding: 0 18px;
  }

  .owe-content {
    font-size: 2.5vw !important;
  }

  .hidden-card-buttons-container {
    margin-top: 15px !important;
    justify-content: center;
    gap: 30px;
  }

  .hidden-card-button,
  .hidden-card-button-2 {
    width: 100%;
    font-size: 20px !important;
  }

  .with-x {
    font-size: 1.8vw !important;
  }

  #login-button {
    font-size: 14px;
  }

  #create-button {
    font-size: 14px;
  }

  .home-slogan {
    font-size: 28px;
    line-height: 35px;
  }

  .torn-home-title {
    font-size: 80px !important;
  }


}

@media (max-width: 999px) {

  #list-sender {
    font-size: 17px;
  }

  #list-amount {
    font-size: 17px;
  }

  .home-left-right-container {
    padding-top: 0;
  }

  .home-card {
    max-width: 260px;
    max-height: 260px;
    padding-top: 10px;
  }

  .home-container {
    flex-direction: column;
  }

  .last-payments-container {
    display: block;
  }

  .no-mobile-payments-container {
    display: none
  }

  .home-left-container {
    display: none;
  }

  .home-cards-container {
    width: 100%;
  }

  .hidden-card-title {
    font-size: 60px !important;
    line-height: 60px;
    padding-bottom: 30px;
  }

  .with-x {
    font-size: 25px !important;
  }

  .home-right-container {
    margin-bottom: 30px !important;
  }

}

@media (max-width: 998px) {

  .home-card {
    width: 45%;
    height: 38vw;
    padding-top: 10px;
  }

  .home-left-container {
    display: none;
  }

  .home-cards-container {
    width: 100%;
  }

  .hidden-card-title {
    font-size: 25px !important;
    line-height: 30px;
    padding-bottom: 13px;
  }

  .with-x {
    font-size: 17px !important;
  }

  .home-card-title {
    font-weight: 700;
    font-size: 5vw;
  }

}

//  ----------- MOBILE ----------

@media (max-width: 550px) {

  .hidden-flex-item-2 {
    display: block;
    width: 180px;
    height: auto;
  }

  .home-right-container {
    padding: 20px 0px;
  }

  .home-cards-container {
    align-content: flex-start;
  }

  .mobile-budgets-title {
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 4.4vw;
    letter-spacing: -1px;
    color: #f4ffe5;
  }

  .home-card-title {
    font-weight: 700;
    font-size: 5vw;
  }

}

@media (max-width: 500px) {

  .home-list-payment {
    background: transparent;
    border-radius: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }


  .create-budget-button,
  .create-budget-button-disable {
    display: none;
  }

  .mobile-create-budget-button,
  .mobile-create-budget-button-disable {
    display: block !important;
  }

  .mobile-headers-container {
    position: absolute;
    right: 2px;
    top: 16px;
  }

  .home-slogan {
    bottom: 70px;
    font-size: 20px;
    line-height: 25px;
  }

  .home-signup-buttons-container {
    flex-direction: column;
  }

  .devise-back-link {
    position: absolute !important;
    top: -49px !important;
    text-align: center;
    width: 100%;
    color: #f4ffe5 !important;
  }

  .home-card-title {
    font-weight: 700;
    font-size: 5vw;
  }

  .mobile-budgets-title {
    padding-top: 20px;
  }

  .home-right-container {
    padding: 0px 0px;
  }

  .home-container {
    margin: 0 auto 0 auto;
    padding: 0;
  }

  .home-cards-container {
    margin-top: 20px !important;
  }

  .home-card .sci li {
    margin: 0;
  }

  .home-card .sci li p {
    margin: -10px;
  }

  .with-x {
    font-size: 16px !important;
  }

}

@media (max-width: 400px) {
  .hidden-flex-item-2 {
    display: block;
    width: 180px;
    height: auto;
  }
}

@media (max-width: 300px) {
  .hidden-flex-item-2 {
      display: block;
      width: 180px;
      height: auto;
    }
}
