.navbar-lewagon {
  justify-content: space-between;
  background: #f4ffe5;
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: 0 5px 25px #0e0c1636;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-weight: 300;
  color: #2a2848;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #2a2848;
  font-weight: 300;
  padding-right: 30px;
}

.navbar a {
  color: #2a2848;;
}

.navbar-toggler {
  border: none !important
}
